.link {
  cursor: pointer;
  margin-right: 10px;
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code {
  text-align: left;
  padding: 5px;
  width: 250px;
  border-radius: 5px;
  margin-top: 0;
  background: #ebebeb;
}

.navbar {
  margin-bottom: 20px;
}
